.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage*
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
.env
.env.example
docs_build
site_build
venv
docs.zip
archive.zip
fastapi-env
# vim temporary files
*~
.*.sw?
.cache

# macOS
.DS_Store

.codspeed

scrap.py
spider.py
navi_mumbai_businesses.csv
navi_mumbai_businesses_with_contacts.csv
tmp